@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;/* default background color */
    --foreground: #000000;/* default text color */
  }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
  }

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: "Permanent Marker", "cursive"; */
}

.centerThis {
  justify-content: flex-start;
  align-self: flex-start;
  margin: auto;
  text-align: center;
}

.fadeTargetIn {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.parent .child {
  display: none; /* Initially hide the child */
  width: fit-content;
}

.parent:hover .child {
  display: block; /* Show the child when the parent is hovered */
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  width: 50%;
}

.tooltip {
    width: 200px;
    position: fixed;
    top:auto;
    bottom:0px;
    right:0px;
    left:auto;
  }

   
  .inputBar { /*for chat page*/
    width: 60%;
  }



  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
  }

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: none; }
}
.animate-fade-in {
  animation: fadeIn 0.5s;
}