@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;/* default background color */
    --foreground: #000000;/* default text color */
  }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
  }

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: "Permanent Marker", "cursive"; */
}

.centerThis {
  justify-content: flex-start;
  align-self: flex-start;
  margin: auto;
  text-align: center;
}

.fadeTargetIn {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.parent .child {
  display: none; /* Initially hide the child */
  width: fit-content;
}

.parent:hover .child {
  display: block; /* Show the child when the parent is hovered */
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  width: 50%;
}

.tooltip {
    width: 200px;
    position: fixed;
    top:auto;
    bottom:0px;
    right:0px;
    left:auto;
  }

   
  .inputBar {
    width: 60%;
  }

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
  }

  .MenuOuter {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
  }
  .MenuInner {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 85%;
    transform: translate(-50%, -50%);
    border-width: 4px;
    background-color: rgba(0, 0, 0, 0.35);
    /* background-color: rgb(174, 0, 0); */
    border-radius: 0.5rem /* 8px */;
  }